# pass the PHP scripts to FastCGI server listening on unix:/var/run/php5-fpm.sock
location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    fastcgi_pass   127.0.0.1:54321;
    #fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    fastcgi_index index.php;

    include /etc/nginx/fastcgi.conf;

    # FastCGI Cache Settings
    fastcgi_cache_bypass $skip_cache;
    fastcgi_no_cache $skip_cache;
    fastcgi_cache {{ nginx_cache_name }};
    fastcgi_cache_valid 200 10m;
    fastcgi_cache_valid 404 500 10s;

    #fastcgi_ignore_headers Cache-Control Expires Set-Cookie;
    fastcgi_ignore_headers Cache-Control Expires;

    fastcgi_intercept_errors off;

    add_header X-Cache $upstream_cache_status;
    add_header X-Frame-Options SAMEORIGIN;
}


