# 
# See http://help.ubuntu.com/community/UpgradeNotes for how to upgrade to
# newer versions of the distribution.
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }} main restricted
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }} main restricted

## Major bug fix updates produced after the final release of the
## distribution.
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-updates main restricted
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-updates main restricted

## N.B. software from this repository is ENTIRELY UNSUPPORTED by the Ubuntu
## team. Also, please note that software in universe WILL NOT receive any
## review or updates from the Ubuntu security team.
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }} universe
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }} universe
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-updates universe
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-updates universe

## N.B. software from this repository is ENTIRELY UNSUPPORTED by the Ubuntu 
## team, and may not be under a free licence. Please satisfy yourself as to 
## your rights to use the software. Also, please note that software in 
## multiverse WILL NOT receive any review or updates from the Ubuntu
## security team.
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }} multiverse
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }} multiverse
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-updates multiverse
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-updates multiverse

## N.B. software from this repository may not have been tested as
## extensively as that contained in the main release, although it includes
## newer versions of some applications which may provide useful features.
## Also, please note that software in backports WILL NOT receive any review
## or updates from the Ubuntu security team.
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-backports main restricted universe multiverse

deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-security main restricted
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-security main restricted
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-security universe
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-security universe
deb {{ indonesian_repo_url }} {{ ansible_distribution_release }}-security multiverse
deb-src {{ indonesian_repo_url }} {{ ansible_distribution_release }}-security multiverse

## Uncomment the following two lines to add software from Canonical's
## 'partner' repository.
## This software is not part of Ubuntu, but is offered by Canonical and the
## respective vendors as a service to Ubuntu users.
# deb http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner
# deb-src http://archive.canonical.com/ubuntu {{ ansible_distribution_release }} partner

## Uncomment the following two lines to add software from Ubuntu's
## 'extras' repository.
## This software is not part of Ubuntu, but is offered by third-party
## developers who want to ship their latest software.
# deb http://extras.ubuntu.com/ubuntu {{ ansible_distribution_release }} main
# deb-src http://extras.ubuntu.com/ubuntu {{ ansible_distribution_release }} main