server {
    listen 8888;

    root /home/{{ ansible_user }}/www/project;
    index index.php;

    server_name 127.0.0.1 www.project.com;

    charset utf-8;

    access_log off;
    error_log off;
    #error_log /var/log/nginx/sites/project.error.log;
    #access_log /var/log/nginx/sites/project.access.log;

    #add_header Content-Security-Policy "default-src 'self'; font-src data: 'self'; form-action 'self'; frame-ancestors 'self'; frame-src 'self'; img-src data: 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'";
    add_header Feature-Policy "accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'; vibrate 'none'";
    add_header Referrer-Policy "strict-origin-when-cross-origin";
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Permitted-Cross-Domain-Policies "none";
    add_header X-Xss-Protection "1; mode=block";

    #add_header Content-Security-Policy "frame-ancestors https://github.com/ https://twitter.com/;";

    include /etc/nginx/locations/php-no-cache.conf;
    include /etc/nginx/locations/laravel.conf;
    #include /etc/nginx/locations/native-php.conf;
    include /etc/nginx/locations/default.conf;
}


